@import './icons/mdi-icons.css';

html {
  overflow-y: auto !important;
}

main.v-main {
  overflow-y: auto;
}

.v-toolbar__title {
  display: flex;
}

img.logo {
  filter: drop-shadow(0px 0px 6px rgba(21, 21, 21, 0.5));
}

nav .v-list-item--active {
  background-color: rgba(63, 72, 204, 1);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

.v-menu__content {
  overflow-y: hidden !important;
}

.theme--dark.v-btn.v-btn--disabled .v-icon,
.theme--dark.v-btn.v-btn--disabled .v-btn__loading {
  color: rgba(255, 255, 255, 0.5) !important;
}

header .v-toolbar__title {
  user-select: none;
}

.hint-button {
  transition: 0.3s ease-out;
}

#app a.built-by {
  color: #ed1c24;
}
