<template lang="pug">
v-container(
  fill-height,
  fluid
)
  v-layout(
    align-center,
    justify-center
  )
    v-flex.about-text.text-xs-center(
      align-content-center,
      shrink
    )
      p.text-center.display-1.mb-1.pb-1 Привет!
      a(
        :href="link",
        @click="randomLink",
        rel="noopener",
        target="_blank"
      )
        img.bear.text-xs-center.mt-2.pt-2(
          :src="$options.bear",
          alt="Dancing Cossack man",
          style="margin-left: auto; margin-right: auto; display: flex"
        )
      p.text-center.subtitle-1.mt-4.pt-4 Use this silly app to study the 1,250 most common Russian words, as well as the Cyrillic alphabet
      p.text-center.subtitle-1.mt-2.pt-2 Click / Tap the card to reveal a word's translation, and again to load the next word. #[br]For the alphabet, click / tap to reveal a letter's (Denglish) pronunciation.
</template>
<script>
import bear from '@/assets/dancing-bear-transparent-cropped.gif'
export default {
  data: () => ({
    link: null,
  }),
  created() {
    this.randomLink()
  },
  methods: {
    randomLink() {
      this.link = this.sample(this.$options.links.filter(l => l !== this.link))
    },
    sample(arr) {
      return arr[Math.floor(Math.random() * arr.length)]
    },
  },
  bear,
  links: [
    `https://www.youtube.com/watch?v=l-80laFIW9k`, // Dschingis Kahn
    `https://www.youtube.com/watch?v=16y1AkoZkmQ`, // Rasputin
    `https://www.youtube.com/watch?v=nS5_EQgbuLc`, // Beatles USSR
    `https://www.youtube.com/watch?v=oavMtUWDBTM`, // TROLOLOLO
  ],
}
</script>
