<template lang="pug">
v-container(
  fill-height,
  fluid
)
  v-layout.pa-3(
    align-center,
    justify-center
  )
    v-flex.about-text.text-xs-center(
      align-content-center,
      shrink
    )
      h1.display-1.mb-4 Imprint / Impressum
      h2 Legal Disclosure
      p.text-body-1 In accordance with Section 5 TMG:
      h3.text-subheading Owner
      p.text-body-2.ml-4
        | Detroit Technical English
        br
        | Inh. David Willenberg
        br
        | Hopfenstraße 28
        br
        | DE-20359 Hamburg
      h3.subheading Contact Information
      p.text-body-2.mb-0.ml-4
        | Telephone:&nbsp;+49 40 361 95529
      p.text-body-2.mb-0.ml-4
        | E-Mail:&nbsp;
        a(
          href="mailto:info@detroit-english.de"
        ) info@detroit-english.de
      p.text-body-2.ml-4
        | Website:&nbsp;
        a(
          href="https://www.detroit-english.de/impressum",
          rel="noopener",
          target="_blank"
        ) www.detroit-english.de
      h3.subheading VAT number
      p.text-body-1.mb-2
        | In accorance with Section 27 of the German VAT act:&nbsp;
        strong DE287145093
      h2.display-1.mb-2.pt-4 Disclaimer
      h3.subheading Accountability for content
      p.text-body-2
        | The contents of our pages have been created with the utmost care. However, we cannot guarantee the contents'
        | accuracy, completeness or topicality. According to statutory provisions, we are furthermore responsible for
        | our own content on these web pages. In this matter, please note that we are not obliged to monitor
        | the transmitted or saved information of third parties, or investigate circumstances pointing to illegal activity.
        | Our obligations to remove or block the use of information under generally applicable laws remain unaffected by this as per
        | §§ 8 to 10 of the Telemedia Act (TMG).

      h3.subheading
        | Accountability for links
      p.text-body-2
        | Responsibility for the content of
        | external links (to web pages of third parties) lies solely with the operators of the linked pages. No violations were
        | evident to us at the time of linking. Should any legal infringement become known to us, we will remove the respective
        | link immediately.
      h2.display-1.mb-2.pt-4 Data Protection
      h3.subheading Personal User Data
      p.text-body-2 This app does not store, collect or track any personally identifiable user data. This app does set, read or track browser cookies or unique user-ids (UUIDs) in any way. Server logs are retained for a period of 30 days before deletion.
      p.text-body-1.pt-2 &copy; {{ new Date().getFullYear() }} Ruskablio
</template>
<script>
export default {
  name: `Imprint`,
}
</script>
