<template lang="pug">
v-container(
  fill-height,
  fluid,
  v-if="loaded"
)
  v-layout(
    align-center,
    justify-center
  )
    v-flex(
      shrink
    )
      v-card(
        :min-width="cardSize.w",
        v-if="term._id"
      )
        v-toolbar(
          color="primary",
          dense,
          flat
        )
          v-toolbar-title Cyrillic Letters
          v-spacer
          v-btn(
            :disabled="!revealed",
            @click.stop="reset(0)",
            icon,
            rounded,
            small
          )
            v-icon(
              small
            ) mdi-refresh
        v-container.pa-4.mt-4(
          :style="{ minHeight: cardSize.h + `px` }",
          fluid,
          v-touch="{ left: next, right: previous}"
        )
          v-layout(
            @click="() => (revealed ? next() : reveal())",
            fill-height,
            style="cursor: pointer",
            wrap
          )
            v-slide-x-transition(
              mode="out-in"
            )
              v-flex(
                grow,
                v-if="!trans"
              )
                p.overline.my-2 Letter:
                p.display-1.text--primary {{ term.letter }}
                p.overline.mb-2 Sound (EN):
                v-slide-x-reverse-transition(
                  mode="in-out"
                )
                  p.display-1.text--primary(
                    style="overflow-wrap: break-word",
                    v-if="revealed"
                  ) {{ term.sound }}
                  p.display-1.text--primary(
                    style="overflow-wrap: break-word",
                    v-else
                  ) &nbsp;
                v-flex(
                  fill-height
                )
        v-divider
        v-card-actions
          v-btn(
            :disabled="!index",
            @click="previous",
            icon,
            title="Previous Letter"
          )
            v-icon mdi-chevron-left
          v-spacer
          v-btn(
            :disabled="index === ids.length - 1",
            @click="next",
            icon,
            title="Next Letter"
          )
            v-icon mdi-chevron-right
</template>

<script>
export default {
  props: {
    ids: {
      type: Array,
      required: true,
    },
  },
  data: () => ({
    term: {},
    index: 0,
    revealed: false,
    trans: false,
    loaded: false,
  }),
  computed: {
    cardSize() {
      let h, w
      switch (this.$vuetify.breakpoint.name) {
        case `md`:
          w = 475
          h = 235
          break
        case `xs`:
          w = 340
          h = 235
          break
        case `sm`:
          w = 400
          h = 235
          break
        default:
          w = 475
          h = 235
      }
      return { h, w }
    },
  },
  created() {
    this.$vuetify.theme.dark = true
  },
  async beforeMount() {
    const doc = await this.$bucket.db.get(this.ids[0])
    this.term = Object.assign({}, doc)
    this.loaded = true
    this.trans = false
  },
  methods: {
    reveal() {
      umami(`Reveal letter`)
      this.revealed = true
    },
    reset(nolog) {
      !nolog && umami(`Reset letter`)
      this.revealed = false
    },
    async next() {
      this.trans = true
      if (this.index + 1 === this.ids.length) this.index = 0
      else this.index++
      umami(`Next letter`)
      await this.getTerm()
    },
    async previous() {
      if (!this.index) return
      this.trans = true
      this.index--
      umami(`Previous letter`)
      await this.getTerm()
    },
    getTerm() {
      this.reset(1)
      Promise.all([
        this.$bucket.db.get(this.ids[this.index]).then(doc => {
          this.term = Object.assign({}, doc)
        }),
        new Promise(resolve => setTimeout(resolve, 275)),
      ]).then(() => (this.trans = false))
    },
  },
}
</script>
