<template lang="pug">
v-container(
  fill-height,
  fluid,
  v-if="loaded"
)
  v-layout(
    align-center,
    justify-center
  )
    v-flex(
      shrink
    )
      v-card(
        :min-width="cardSize.w",
        v-if="term._id"
      )
        v-toolbar(
          color="primary",
          dense,
          flat
        )
          v-toolbar-title # {{ +term._id.split(`:`)[0] }}
          v-spacer
          v-toolbar-items
            v-btn.mr-2(
              :disabled="!hasSpeech",
              @click="sayWord",
              icon,
              rounded,
              small,
              title="Pronounce Word"
            )
              v-icon(
                small
              ) mdi-volume-high
            v-btn(
              :disabled="!hint && !revealed",
              @click="reset",
              icon,
              rounded,
              small,
              title="Reset Word"
            )
              v-icon(
                small
              ) mdi-refresh
        v-container.pa-4.mt-4(
          :style="{ minHeight: cardSize.h + `px` }",
          fluid,
          v-touch="{ left: next, right: previous}"
        )
          v-layout(
            @click="() => (revealed ? next() : reveal())",
            fill-height,
            style="cursor: pointer",
            wrap
          )
            v-slide-x-transition(
              mode="out-in"
            )
              v-flex(
                grow,
                v-if="!trans"
              )
                p.overline.my-2 RU:
                p.display-1.text--primary {{ term.russian }}
                p.overline.mb-2 EN:
                v-fade-transition(
                  mode="out-in"
                )
                  p.display-1.text--primary(
                    style="overflow-wrap: break-word",
                    v-if="revealed"
                  )
                    | {{ term.english }}
                  p.display-1.text--primary(
                    style="letter-spacing: 2px !important; overflow-wrap: break-word",
                    v-else-if="hint && !revealed"
                  )
                    | {{ wordHint }}
                v-flex(
                  fill-height
                )
        v-divider
        v-card-actions
          v-btn(
            :disabled="!index",
            @click="previous",
            icon,
            title="Previous Word"
          )
            v-icon mdi-chevron-left
          v-spacer
          v-btn.hint-button(
            :disabled="hint || revealed",
            @click="showHint",
            color="primary",
            raised,
            ripple,
            small,
            tile,
            title="Show Hint"
          ) Hint
          v-spacer
          v-btn(
            :disabled="index === ids.length - 1",
            @click="next",
            icon,
            title="Next Word"
          )
            v-icon mdi-chevron-right
</template>

<script>
export default {
  props: {
    ids: {
      type: Array,
      required: true,
    },
    ready: {
      type: Boolean,
      required: false,
    },
  },
  data: () => ({
    term: {},
    index: 0,
    hint: false,
    revealed: false,
    trans: false,
    loaded: false,
    hasSpeech: !!window.SpeechSynthesisUtterance,
  }),
  computed: {
    wordHint() {
      if (!this.term._id) return
      let words = this.term.english.split(` `)
      for (let word of words) {
        let hintWord = Array.from(word)
        let h = hintWord.shift()
        for (let letter of hintWord) {
          if (!/[A-Za-z]/.test(letter)) h += letter
          else h += `·`
        }
        words[words.indexOf(word)] = h
      }
      return words.join(` `)
    },
    cardSize() {
      let h, w
      switch (this.$vuetify.breakpoint.name) {
        case `md`:
          w = 475
          h = 235
          break
        case `xs`:
          w = 340
          h = 235
          break
        case `sm`:
          w = 400
          h = 235
          break
        default:
          w = 475
          h = 235
      }
      return { h, w }
    },
  },
  async beforeMount() {
    const doc = await this.$bucket.db.get(this.ids[0])
    this.term = Object.assign({}, doc)
    this.loaded = true
    this.trans = false
  },
  methods: {
    showHint() {
      this.hint = true
      umami(`Show hint`)
    },
    reveal() {
      umami(`Reveal word`)
      this.revealed = true
    },
    reset(nolog) {
      !nolog && umami(`Reset letter`)
      this.hint = false
      this.revealed = false
    },
    async next() {
      this.trans = true
      if (this.index + 1 === this.ids.length) this.index = 0
      else this.index++
      umami(`Next word`)
      await this.getTerm()
    },
    async previous() {
      if (!this.index) return
      this.trans = true
      this.index--
      umami(`Previous word`)
      await this.getTerm()
    },
    getTerm() {
      this.reset(1)
      Promise.all([
        this.$bucket.db.get(this.ids[this.index]).then(doc => {
          this.term = Object.assign({}, doc)
        }),
        new Promise(resolve => setTimeout(resolve, 300)),
      ]).then(() => (this.trans = false))
    },
    sayWord() {
      umami(`Pronounce word`)
      const utterance = new SpeechSynthesisUtterance(this.term.russian)
      utterance.lang = `ru-RU`
      speechSynthesis.speak(utterance)
    },
  },
}
</script>
