- twitter_handle = process.env.TWITTER_HANDLE
mixin social_metadata
  meta(
    content='Ruskablio | Learn Cyrillic and Russian vocabulary',
    property="og:title"
  )
  meta(
    content=`https://${prod_domain}/`,
    property="og:url"
  )
  meta(
    content="website",
    property="og:type"
  )
  meta(
    content=`${new Date().toJSON()}`,
    property="og:updated_time"
  )
  meta(
    content="A simple app to study the 1,250 most common Russian words and learn the Cyrillic alphabet",
    property="og:description"
  )
  meta(
    content=`https://${prod_domain}/img/ruskablio-1200x630.jpg?t=${Date.now()}`,
    property="og:image"
  )
  meta(
    content="1200",
    property="og:image:width"
  )
  meta(
    content="630",
    property="og:image:height"
  )
  meta(
    content=`https://${prod_domain}/img/icons/android-chrome-512x512.png?t=${Date.now()}`,
    property="og:image"
  )
  meta(
    content="512",
    property="og:image:width"
  )
  meta(
    content="512",
    property="og:image:height"
  )
  meta(
    content=`https://${prod_domain}/img/ruskablio-1200x600.jpg?t=${Date.now()}`,
    property="og:image"
  )
  meta(
    content="1200",
    property="og:image:width"
  )
  meta(
    content="600",
    property="og:image:height"
  )
  meta(
    content="summary_large_image",
    name="twitter:card"
  )
  meta(
    content=`@${twitter_handle}`,
    name="twitter:site"
  )
  meta(
    content='Ruskablio | Learn Cyrillic and Russian vocabulary',
    name="twitter:title"
  )
  meta(
    content='A simple app to study the 1,250 most common Russian words and learn the Cyrillic alphabet',
    name="twitter:description"
  )
  meta(
    content=`https://${prod_domain}/img/ruskablio-1200x600.jpg?t=${Date.now()}`,
    name="twitter:image"
  )

mixin umami_script
  script(data-website-id='8263d54c-14da-46e7-9b52-a2c85d9edd75', src='https://umami.det-te.ch/umami.js')
