noscript(style="background:#121212;")
  style
    :stylus(compress)
      html
        background #121212
      noscript
        .ns
          background #121212
          max-width 38rem
          padding 2rem
          margin auto
          padding-top 25VH
          text-align center
          line-height 3em
          white-space nowrap
          p, h1, h2, h3, h4, h5, h6, a, li, span
            color #fafafa
            font-family -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important
            font-weight 400
          hr
            margin 2em auto
  .ns
    h3 May you do good, and not evil.
    h3 May you find forgiveness for yourself - #[wbr]and forgive others.
    h3 May you share freely, #[wbr]never taking more than you give.
    h3 ❤
    hr
    h4
      em Please enable JavaScript to use this app
