- prod = process.env.NODE_ENV === 'production'
- prod_domain = process.env.PRODUCTION_DOMAIN
include assets/mixins.pug
doctype html
html(lang="en-US")
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width,initial-scale=1.0')
    base(href='/')
    link(rel='icon', href='/favicon.ico')
    title Ruskablio | Learn Cyrillic and Russian vocabulary
    meta(name='description', content="A simple app to study the 1,250 most common Russian words and learn the Cyrillic alphabet")
    if prod
      if prod_domain === 'rus.vokabl.io'
        +umami_script
      +social_metadata
  body
    #app
    include assets/noscript.pug
